@import "../head.styl"
.cor
  color #505050
.header
  background #fff
body
  background-color #efeff4
.sec
  margin 12px 12px 0 12px
  padding 0px 12px 12px 12px

  border-radius 5px
  box-shadow 0 0 5px 1px #e0e0ea
  min-height 110px
  background url("../../APP切图/我发布的需求/content_list_border.9@2x.png") no-repeat center top 36px #fff
  background-size 352px 4px
  .secheader
     height 43px
     line-height 43px
     font-size 1em
     display flex
     .head-txt
       flex 1
     .head-btn
       line-height 20px
       width 46px
       height 20px
       margin 12px
       font-size 0.9em

       text-align center
       border-radius 4px
  .secmid
     line-height 24px
     font-size 0.9em
  .secfooter
     height 35px
     display flex
    .time
      flex 1
      text-align right
      font-style normal
      padding 10px 12px 0 12px
      line-height 25px
      color #7c7c7d
    .footn
       width 25%
       height 25px
       border-radius 6px
       margin 10px auto 0px auto
       line-height 25px
       font-size 0.9em
       text-align center
       background #efeff4
       color #7c7c7d
       border 1px solid #e1e1e1
.time-change
        text-align right
        font-style normal
        padding 10px 12px 0 12px
        line-height 25px
        color #7c7c7d
