<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1,minimum-sacle=1,user-scable=no">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
  <div class="header"><span class="himg "></span><span class="htxt">经纪人</span></div>
	<input type="text" placeholder="必填项" class="agent-in">
	<div class="cot-img"><div class="cott">添加头像</div></div>
    <div class="cot1"><input type="text" class="name" placeholder="姓名"></div>
	<div class="cot1"><input type="text" class="name" placeholder="所属公司"></div>
	<div class="cot1"><input type="text" class="name" placeholder="联系方式"></div>
	<div class="cot1"><input type="text" class="name" placeholder="擅长商圈"></div>
	<div class="cot-img2">名片正面</div>
	<input type="text" placeholder="选填项" class="agent-in">
	<div class="cot-img2">全国经纪人证书</div>
    <div class="bot"><div class="botbtn">完成</div></div>

	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../../public/css/login/agent.css">
	<script src="../../public/minjs/login/hos.js"> </script>
</body>
</html>