<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	 <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<body>
	<div class="logdone">
		<div class="a1">注册完成,等待后天确认</div>
		<div class="a2">确认</div>
	</div>

	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../../public/css/login/logdone.css">
	<script src="../../public/minjs/login/hos.js"></script>

</body>
</html>