<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,
	maximum-scale=1,minimum-sacle=1,user-scable=no">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
    <p>
		Copyright@2016
	</p>

	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/minjs/login/hos.js"></script>
	<link rel="stylesheet" href="../../public/css/login/login.css">
	<script>
	$(function(){
		setTimeout(function(){
			window.location.href="houselend.html"
		},1000)
	})
	</script>
</body>
</html>