<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>housing</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">

</head>
<body>
	<div class="header"><div class="tab">
		<div class="dcell">消息</div><div class="dcell">通知</div><div class="dcell active">需求</div></div>
	</div>
    <div class="sec">
		<div class="secheader"><div class="head-txt">一个新的租房需求</div><div class="head-btn c1">租户</div></div>
		<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
		<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time">08/04/13:09</em></div>
	</div>
	<div class="sec">
		<div class="secheader"><div class="head-txt">一个新的租房需求</div><div class="head-btn c2">经纪人</div></div>
		<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
		<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time">08/04/13:09</em></div>
	</div>
	<div class="sec">
		<div class="secheader"><div class="head-txt">一个新的租房需求</div><div class="head-btn c3">招商</div></div>
		<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
		<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time">08/04/13:09</em></div>
	</div>
	<div class="sec">
		<div class="secheader"><div class="head-txt">一个新的租房需求</div><div class="head-btn c4">代理商</div></div>
		<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
		<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time">08/04/13:09</em></div>
	</div>
	<div class="sec">
		<div class="secheader"><div class="head-txt">一个新的租房需求</div><div class="head-btn c4">代理商</div></div>
		<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
		<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time">08/04/13:09</em></div>
	</div>

    <div class="footer">
		<div class="footer-li"><div class="limg1 li1"></div><div class="litxt">首页</div></div>
		<div class="footer-li"><div class="limg2 li1"></div><div class="litxt">预约</div></div>
		<div class="footer-li"><div class="limid "></div></div>
		<div class="footer-li"><div class="limg3 li1"></div><div class="litxt active">信息</div></div>
		<div class="footer-li"><div class="limg4 li1"></div><div class="litxt">我</div></div>
	</div>

	<link rel="stylesheet" href="../../public/css/msg/msdm.css">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/minjs/msg/msg.js"> </script>
	<script src="../../public/minjs/footer.js"></script>
</body>
</html>