* {
  outline: none;
  font-family: Droid Sans Fallback;
}
body {
  background: #efeff4;
  box-sizing: border-box;
}
.head {
  height: 45px;
  padding: 0 10px 0 10px;
  background: #fff;
  display: flex;
  line-height: 45px;
}
.head .h-left {
  width: 2em;
}
.head .h-mid {
  flex: 1;
  text-align: center;
  font-size: 1.1em;
}
.head .h-right {
  width: 2em;
  color: #f00;
}
input {
  border: 0;
  background: #fff;
  height: 45px;
  width: 100%;
  border-radius: 6px;
  text-indent: 1em;
}
.box1 {
  padding: 0 10px 0 10px;
  margin-top: 10px;
}
.box2 {
  min-height: 200px;
  line-height: 1.2em;
  border: 0;
  background: #fff;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}
.dem-out {
  position: fixed;
  width: 270px;
  height: 110px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 10px;
  display: none;
}
.dem-out .c-t {
  height: 64px;
  border-bottom: 1px solid #d6d7dc;
  text-align: center;
  line-height: 64px;
  font-size: 1rem;
  color: #323232;
}
.dem-out .c-b {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
}
.dem-out .c-b .b-l {
  flex: 1;
  color: #7f7f7f;
  border-right: 1px solid #d6d7dc;
}
.dem-out .c-b .b-r {
  color: #ea5404;
  flex: 1;
}
.dem-bg {
  background: rgba(147,147,147,0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}
