body {
  background: #efeff4;
  box-sizing: border-box;
}
.head {
  height: 45px;
  padding: 0 10px 0 10px;
  background: #fff;
  display: flex;
  line-height: 45px;
}
.head .h-left {
  width: 2em;
}
.head .h-mid {
  flex: 1;
  text-align: center;
  font-size: 1.1em;
}
.head .h-right {
  width: 2em;
  color: #f00;
}
input {
  border: 0;
  background: #fff;
  height: 45px;
  width: 100%;
  border-radius: 6px;
  text-indent: 1em;
}
.box1 {
  padding: 0 10px 0 10px;
  margin-top: 10px;
}
.box2 {
  min-height: 200px;
  line-height: 1.2em;
  border: 0;
  background: #fff;
  padding: 10px;
  width: 335px;
  border-radius: 6px;
}
