* {
  outline: none;
  font-family: Droid Sans Fallback;
}
* {
  outline: none;
  font-family: Droid Sans Fallback;
}
body {
  background: #efeff4;
  padding: 0;
}
.nav {
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-bottom: 1px solid #d6d7dc;
  font-size: 1.2rem;
  color: #323232;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #d6d7dc;
}
.nav1 {
  display: flex;
}
.nav1 .nav-l {
  width: 100px;
  font-size: 0.9rem;
}
.nav1 .nav-m {
  flex: 1;
}
.nav1 .nav-r {
  width: 100px;
  font-size: 0.9rem;
  color: #ea5404;
}
.ban {
  background: #efeff4;
  height: 33px;
  line-height: 33px;
  color: #b4b4b4;
  text-indent: 0.9rem;
  font-size: 0.9rem;
  width: 100%;
}
.bb {
  background: #fff;
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #d6d7dc;
}
.ban-c1 {
  display: flex;
  height: 65px;
}
.ban-c1 .c-l {
  width: 50px;
  height: 100%;
  background: url("../../APP切图/预约详情/content_img_user@2x.png") no-repeat left 0 center;
  background-size: 40px;
}
.ban-c1 .c-r {
  width: 62px;
  height: 100%;
  background: url("../../APP切图/预约详情/content_icon_call@2x.png") no-repeat right 18px center;
  background-size: 18px;
}
.ban-c1 .c-m {
  flex: 1;
  position: relative;
}
.ban-c1 .c-m:after {
  content: "";
  display: block;
  position: absolute;
  height: 34px;
  width: 1px;
  background: #e1e1e1;
  right: 0;
  top: 6px;
}
.ban-c1 .c-m .p1 {
  height: 26px;
  line-height: 26px;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.ban-c1 .c-m .p2 {
  height: 20px;
  line-height: 20px;
  font-size: 0.9rem;
  color: #646464;
  padding: 0;
  margin: 0;
}
.ban-c2 .p21 {
  height: 25px;
  line-height: 25px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.ban-c2 .pcon {
  height: 17px;
  line-height: 17px;
  font-size: 0.9rem;
  display: flex;
  color: #646464;
}
.ban-c2 .pcon .pcon-l {
  flex: 1;
}
.b-box {
  height: 45px;
  line-height: 45px;
  padding: 0 10px 0 10px;
  margin-top: 10px;
}
.b-box .b {
  height: 45px;
  text-align: center;
  background: #ea5404;
  color: #fff;
  border-radius: 4px;
}
.kkk {
  padding: 0 10px 0 10px;
}
.c-li {
  height: 45px;
  display: flex;
  line-height: 45px;
  font-size: 0.9rem;
  position: relative;
}
.c-li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  left: 0;
  bottom: -1px;
}
.c-li .l-l {
  flex: 1;
  text-align: left;
  text-indent: 1rem;
}
.c-li .l-l .t1 {
  height: 18px;
  line-height: 18px;
  font-size: 1rem;
  margin-top: 8px;
}
.c-li .l-l .t2 {
  height: 15px;
  line-height: 15px;
  font-size: 0.9rem;
  text-indent: 1.3rem;
  color: #323232;
}
.c-li .l-r {
  flex: 1;
  text-align: right;
  font-size: 1rem;
}
.bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 49px;
  background: #fff;
  border-top: 1px solid #d6d7dc;
  line-height: 49px;
  display: flex;
}
.bottom .bot-li {
  flex: 1;
  height: 49px;
  text-align: center;
  color: #ea5404;
  font-size: 1.2rem;
  position: relative;
}
.bottom .bot-li:after {
  content: "";
  display: block;
  position: absolute;
  height: 49px;
  width: 1px;
  background: #d6d7dc;
  top: 0;
  right: 0;
}
.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(147,147,147,0.6);
  z-index: 2;
  display: none;
}
.change {
  position: fixed;
  width: 270px;
  height: 110px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 10px;
  display: none;
}
.change .c-t {
  height: 64px;
  border-bottom: 1px solid #d6d7dc;
  text-align: center;
  line-height: 64px;
  font-size: 1rem;
  color: #323232;
}
.change .c-b {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
}
.change .c-b .b-l {
  flex: 1;
  color: #7f7f7f;
  border-right: 1px solid #d6d7dc;
}
.change .c-b .b-r {
  color: #ea5404;
  flex: 1;
}
.ban-c4 {
  border: 0;
  outline-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  height: 45px;
  background: #fff;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding-right: 1rem;
}
.ensure {
  position: fixed;
  width: 270px;
  height: 110px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 10px;
  display: none;
}
.ensure .en-top {
  height: 64px;
  border-bottom: 1px solid #d6d7dc;
  text-align: center;
  line-height: 64px;
  font-size: 1rem;
  color: #323232;
}
.ensure .en-bot {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.2rem;
  color: #ea5404;
}
.call {
  position: fixed;
  width: 270px;
  height: 110px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 10px;
  display: none;
}
.call .c-t {
  height: 64px;
  border-bottom: 1px solid #d6d7dc;
  text-align: center;
  line-height: 64px;
  font-size: 1rem;
  color: #323232;
}
.call .c-b {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
}
.call .c-b .b-l {
  flex: 1;
  color: #7f7f7f;
  border-right: 1px solid #d6d7dc;
}
.call .c-b .b-r {
  color: #ea5404;
  flex: 1;
}
