* {
  outline: none;
  font-family: Droid Sans Fallback;
}
body {
  background: #f5eaee;
  padding: 0;
  margin: 0;
}
body p {
  display: block;
  width: 8em;
  margin-left: -4em;
  color: #7d7b7b;
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.log11 {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  width: 60%;
  margin-left: -27%;
  position: relative;
  left: 50%;
  background: #dbcaca;
  text-align: center;
  margin-top: 80%;
  margin-bottom: 30px;
height
}
.log22 {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  width: 60%;
  margin-left: -27%;
  position: relative;
  left: 50%;
  background: #dbcaca;
  text-align: center;
}
