* {
  outline: none;
  font-family: Droid Sans Fallback;
}
body {
  background: #121211;
}
.banner {
  height: 220px;
  background: url("../../APP切图/房型详情/banner_img@2x.png") no-repeat center;
  background-size: 100%;
  position: relative;
  margin-bottom: 12px;
}
.banner .ban-top {
  height: 64px;
  background: url("../../APP切图/房型详情/banner_img_shadow@2x.png") no-repeat center;
  background-size: 100%;
}
.banner .ban-mid {
  height: 18px;
  width: 100%;
  background: url("../../APP切图/房型详情/nav_back_icon@2x.png") no-repeat left 10px center;
  background-size: 10px 18px;
  position: absolute;
  top: 30px;
  left: 0;
}
.banner .ban-bottom {
  height: 28px;
  line-height: 28px;
  margin-top: 128px;
  display: flex;
  font-size: 0.9rem;
}
.banner .ban-bottom .b-l {
  width: 100px;
  line-height: 24px;
  font-size: 1.4rem;
  height: 28px;
  color: #e3550d;
  padding-left: 1.1rem;
  box-sizing: border-box;
}
.banner .ban-bottom .b-m {
  flex: 1;
  height: 28px;
  line-height: 28px;
  font-size: 0.9rem;
  color: #ece4dd;
}
.banner .ban-bottom .b-r {
  width: 50px;
  height: 28px;
}
.banner .ban-bottom .b-r .big {
  line-height: 24px;
  height: 28px;
  width: 3rem;
  font-size: 1.4rem;
  color: #ece4dd;
}
.banner .ban-bottom .b-r .nor {
  height: 28px;
  line-height: 28px;
  width: 4rem;
  color: #ece4dd;
}
.m-li {
  padding: 16px 0 16px 0;
  min-height: 15px;
  position: relative;
  display: flex;
}
.m-li:before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 95%;
  background: #474743;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.m-li .i-l {
  flex: 1;
  position: relative;
  height: 15px;
  line-height: 15px;
  display: flex;
}
.m-li .i-l:after {
  height: 23px;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -3px;
  width: 1px;
  background: #474743;
}
.m-li .i-r {
  flex: 1;
  display: flex;
}
.title {
  width: 78px;
  padding-left: 10px;
  text-indent: 0.7rem;
  color: #939393;
  line-height: 15px;
  font-size: 0.9rem;
}
.t-con {
  flex: 1;
  color: #fff;
  line-height: 15px;
  font-size: 1rem;
}
.t-con .n1 {
  font-size: 1.3rem;
  color: #ea5404;
}
.t-con .n2 {
  font-size: 0.8rem;
}
.t-con .nn {
  float: right;
}
.t-con .nnn {
  height: 13px;
  padding-top: 2px;
}
.txtr {
  text-align: right;
  box-sizing: border-box;
  padding-right: 1rem;
  position: relative;
}
.m-li-1 {
  box-sizing: border-box;
  width: 100%;
  padding-right: 10px;
  text-align: justify;
  min-height: 150px;
}
.edit {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.3rem;
  color: #fefefe;
  background: #ea5404;
}
