* {
  outline: none;
  font-family: Droid Sans Fallback;
}
* {
  font-family: Droid Sans Fallback;
  outline: none;
}
.header {
  font-size: 20px;
  height: 50px;
  padding: 0 15px;
  display: flex;
  border-bottom: 1px solid #d6d7dc;
}
.himg {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("../../APP切图/登录/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.htxt {
  display: inline-block;
  flex: 1;
  line-height: 50px;
  text-align: center;
  padding-right: 50px;
  color: #ea5404;
}
body {
  background-color: #efeff4;
  padding: 0;
  margin: 0;
}
.header {
  background: #fff;
}
.header .kk {
  color: #323232;
}
.pic1 {
  height: 125px;
  background: url("../../APP切图/关于/content_img_logo@2x.png") no-repeat center bottom 10px;
  background-size: 74px;
}
.pic2 {
  height: 25px;
  background: url("../../APP切图/关于/content_text_logo@2x.png") no-repeat center bottom 0px;
  background-size: 71px 19px;
}
.sec2:after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  background: #b4b4b4;
  transform: rotate(45deg);
  top: 21px;
  right: 12px;
}
.sec2:before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  background: #b4b4b4;
  transform: rotate(-45deg);
  top: 28px;
  right: 12px;
}
.sec2 .num {
  position: absolute;
  width: 5rem;
  height: 50px;
  right: 24px;
  top: 0;
  line-height: 50px;
  font-size: 0.9rem;
  color: rgba(180,180,180,0.706);
}
.set-sec {
  height: 50px;
  background: #fff;
  box-sizing: border-box;
  padding: 18px 12px 16px 12px;
  line-height: 16px;
  font-size: 1rem;
  color: #323232;
  position: relative;
  border-bottom: #d6d7dc;
  margin-top: 10px;
}
