* {
  outline: none;
  font-family: Droid Sans Fallback;
}
* {
  font-family: Droid Sans Fallback;
  outline: none;
}
.header {
  font-size: 20px;
  height: 50px;
  padding: 0 15px;
  display: flex;
  border-bottom: 1px solid #d6d7dc;
}
.himg {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("../../APP切图/登录/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.htxt {
  display: inline-block;
  flex: 1;
  line-height: 50px;
  text-align: center;
  padding-right: 50px;
  color: #ea5404;
}
body {
  background-color: #efeff4;
}
.header {
  background: #fff;
}
.htxt {
  color: #000;
}
.self_sec {
  background-color: #fff;
  height: 215px;
  padding-left: 13px;
  margin-top: 10px;
}
.sec {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
}
.sec:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 3%;
  top: 0;
  background: url("../../APP切图/我/log in_right_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.tleft {
  height: 40px;
  width: 77px;
  line-height: 40px;
  font-size: 1em;
  color: #646464;
}
.tright {
  height: 40px;
  flex: 1;
  line-height: 40px;
}
.tright .timg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: url("../../APP切图/我/log in_user-head@2x.png") no-repeat center;
  background-size: 100%;
  margin: 5px auto 5px 0;
}
.secc {
  height: 115px;
  display: flex;
  padding-top: 10px;
  background: #fff;
  padding-left: 15px;
}
.sec1 {
  flex: 1;
}
.secbox {
  width: 100px;
  height: 64px;
  background: #878787;
  border-radius: 6px;
}
.secp {
  height: 23px;
  line-height: 23px;
  font-size: 0.8em;
  text-align: center;
  color: #646464;
  padding-right: 20px;
}
.more-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(166,166,166,0.6);
  display: none;
}
.pic-slc {
  background: #fff;
  position: fixed;
  z-index: 4;
  bottom: 0;
  heihgt: 132px;
  width: 100%;
  display: none;
}
.pic-slc .pic-li {
  height: 44px;
  position: relative;
  text-align: center;
  line-height: 44px;
  font-size: 1.2rem;
}
.pic-slc .pic-li:after {
  content: "";
  display: block;
  position: absolute;
  width: 95%;
  height: 1px;
  background: #d6d7dc;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.pic-slc .i3 {
  color: #ea5404;
}
