body {
  background: #efeff4;
}
* {
  font-family: Droid Sans Fallback;
  outline: none;
}
.header {
  background: #fff;
  font-size: 20px;
  height: 50px;
  padding: 0 15px;
  display: flex;
  position: relative;
  border-bottom: 2px solid #d6d7dc;
}
:after {
  width: 100%;
  background: #b2b2b2;
  height: 1px;
  position: absolute;
  bottom: 0;
}
.himg {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("../../APP切图/登录/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.htxt {
  display: inline-block;
  flex: 1;
  line-height: 50px;
  text-align: center;
  padding-right: 50px;
}
.imgbg {
  background-color: #fff;
  padding-top: 1px;
}
.selfimg {
  height: 70px;
  width: 70px;
  margin: 22px auto 0 auto;
  border-radius: 50%;
  background: url("../../APP切图/我/log in_user-head@2x.png") no-repeat center;
  background-size: 100%;
  background-color: #fff;
}
.selft1 {
  background-color: #fff;
  height: 30px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 1.3em;
}
.selft2 {
  background-color: #fff;
  height: 12px;
  width: 100%;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  color: #979797;
}
.btbg {
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0em auto 22px auto;
}
.selftbtn {
  background-color: #fff;
  height: 30px;
  width: 95px;
  border: 1px solid #f00;
  border-radius: 6px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  color: #f00;
}
.self_sec {
  background-color: #fff;
  height: 215px;
  padding-left: 13px;
}
.sec {
  height: 33px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
}
.tleft {
  height: 33px;
  width: 77px;
  line-height: 33px;
  font-size: 1em;
  color: #646464;
}
.tright {
  height: 33px;
  flex: 1;
  line-height: 33px;
}
.secc {
  height: 115px;
  display: flex;
  margin-top: 10px;
}
.sec1 {
  flex: 1;
}
.secbox {
  width: 100px;
  height: 64px;
  background: #878787;
  border-radius: 6px;
}
.secp {
  height: 23px;
  line-height: 23px;
  font-size: 0.8em;
  text-align: center;
  color: #646464;
  padding-right: 20px;
}
