<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>未登录</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
	<div class="header">我</div>
	<div class="sec">
		<div class="sec-top">
			点击登录/注册
			<div class="t1"></div>
		</div>
		<div class="sec-bottom">
			<div class="b-l"><span class="l1">0</span><span class="l2">收藏</span></div>
			<div class="b-r"><span class="r1">0</span><span class="r2">积分</span></div>
		</div>
	</div>
    <div class="li li1">我发布的需求</div>
	<div class="li li2">我发布的房源</div>
	<div class="li li3">我预约的需求</div>
	<div class="li li4">历史交易</div>
	<div class="li li5">过期房源</div>








	<link rel="stylesheet" href="../../public/css/self/a-self.css">
	<script src="../../public/minjs/self/self.js"> </script>
</body>
</html>