<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>收藏</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
<div class="header">收藏</div>
<div class="select">
	<div class="s-l">需求</div>
	<div class="s-r">房源</div>
</div>
<div class="box">
	<div class="l demd">
		<div class="sec">
			<div class="secheader"><div class="head-txt">一个新的租房需求</div><div class="head-btn c1">租户</div></div>
			<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
			<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time">08/04/13:09</em></div>
		</div>
		<div class="sec">
			<div class="secheader"><div class="head-txt">一个新的租房需求</div><div class="head-btn c2">经纪人</div></div>
			<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
			<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time">08/04/13:09</em></div>
		</div>

	</div>
	<div class="l  reso">
		<div class="sec">
			<div class="sec-left"><div class="l-img"></div></div>
			<div class="sec-right">
				<div class="h1 h12">东方金融中心</div>
				<div class="h2">浦东-八佰伴</div>
				<div class="h3"><div class="h3-box">商务中心</div></div>
				<div class="h4">

					<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
					<div class="h4-2">佣金：1个月</div>
				</div>
			</div>
		</div>
		<div class="sec">
			<div class="sec-left"><div class="l-img"></div></div>
			<div class="sec-right">
				<div class="h1 h12">东方金融中心</div>
				<div class="h2">浦东-八佰伴</div>
				<div class="h3"><div class="h3-box">商务中心</div></div>
				<div class="h4">

					<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
					<div class="h4-2">佣金：1个月</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<link rel="stylesheet" href="../../public/css/self/collect.css">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/js/touch.js"> </script>
	<script src="../../public/minjs/self/collect.js"></script>
</body>
</html>