<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
<div class="banner">
	<div class="ban-top"></div>
	<div class="ban-mid"></div>
	<div class="ban-bottom">
		<div class="b-l"> &yen;354615</div>
		<div class="b-m">元/月</div>
		<div class="b-r"><span class="big">1/</span><span class="nor">12</span></div>
	</div>
</div>


	<div class="m-li">
		<div class="i-l">
			<div class="title">单价</div>
			<div class="t-con"><span class="n1">&yen;6.5</span><span class="n2">元/㎡/天</span></div></div>
		<div class="i-r">
			<div class="title">面积</div>
			<div class="t-con txtr"><span class="n2 nn nnn">㎡</span><span class="n1 nn ">175</span></div></div>
	</div>
	<div class="m-li">
		<div class="i-l"><div class="title">装修</div><div class="t-con">精装</div></div>
		<div class="i-r"><div class="title">最短租期</div><div class="t-con txtr">3年</div></div>
	</div>
	<div class="m-li">
		<div class="i-l"><div class="title">交付状态</div><div class="t-con">标注交付</div></div>
		<div class="i-r"><div class="title">装修免租</div><div class="t-con txtr">一个月</div></div>
	</div>
	<div class="m-li">
		<div class="i-l"><div class="title">看房时间</div><div class="t-con">8:00-20:00</div></div>
		<div class="i-r"><div class="title">是否结佣</div><div class="t-con txtr">一个月</div></div>
	</div>
	<div class="m-li">
		<div class="title">交付时间</div><div class="t-con">2015-6-21 (现房)</div>
	</div>
	<div class="m-li">
		<div class="title">付款方式</div><div class="t-con">押一付三 (含发票)</div>
	</div>
	<div class="m-li title m-li-1">
       该广场是一个集商业，办公的综合楼项目，，为一处住宅项目，周边交通便捷。小区地段好交通便利，周边配套成熟完善，
		有餐饮、超市、医院、学校、银行、健身娱乐设施，能够充分满足您一站式购物需求。临近地铁体育中心站和林和西站，所处地段优越、交通方便。
		楼内配置8台三菱电梯，并有中央空调供应。单层面积不大，价格适中，方正实用。周边配套设施十分完善。
	</div>
	<div class="edit">
		编辑
	</div>


	<link rel="stylesheet" href="../../public/css/self/house details.css">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/js/touch.js"> </script>
	<script src="../../public/minjs/self/collect.js"></script>
</body>
</html>