<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我发布的需求</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">

</head>
<body>
	<div class="header"><span class="himg"></span><span class="htxt cor">我发布的需求</span></div>
	<div class="sec">
		<div class="secheader"><div class="head-txt">一个新的租房需求</div><em class="time-change">08/04/13:09</em></div>
		<div class="secmid">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/平米/天左右,附近有地铁</div>
		<div class="secfooter"><em class="time"></em><div class="footn">了解详情</div><em class="time"></em></div>
	</div>

	<link rel="stylesheet" href="../../public/css/self/my-demand.css">
	<script src="../../public/minjs/self/self.js"> </script>
</body>
</html>