<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>填写个人资料</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
	<div class="header"><span class="himg"></span><span class="htxt">个人资料</span></div>



	<div class="self_sec">
		<div class="sec"><div class="tleft">头像</div><div class="tright"><div class="timg"></div></div></div>
		<div class="sec"><div class="tleft">简介</div><div class="tright">以前喜欢一个人,现在喜欢一个人</div></div>
		<div class="sec"><div class="tleft">所属公司</div><div class="tright">普族地产</div></div>
		<div class="sec"><div class="tleft">联系方式</div><div class="tright">18951813816</div></div>
		<div class="sec"><div class="tleft">擅长商圈</div><div class="tright">浦东-八佰伴</div></div></div>
		<div class="secc">
			<div class="sec1"><div class="secbox"></div><div class="secp">名片正面</div></div>
			<div class="sec1"><div class="secbox"></div><div class="secp">全国经纪人证书</div></div>
			<div class="sec1"></div>
		</div>

	<div class="more-bg"></div>
	<div class="pic-slc">
		<div class="pic-li">拍照</div>
		<div class="pic-li">从相册中选择</div>
		<div class="pic-li i3">取消</div>
	</div>












	<link rel="stylesheet" href="../../public/css/self/selfmore.css">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/minjs/self/self.js"> </script>
</body>
</html>