<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
	<div class="header"><span class=" himg imgmore"></span><span class="htxt kk ">设置</span></div>

<div class="set-sec sec1">接受需求 <div class="set-btn"><div class="inner-btn"></div></div></div>
	<div class="set-sec sec2">关于</div>
	<div class="set-sec sec2">清除缓存 <div class="num">7.02M</div></div>
	<div class="set-sec sec4">退出登录</div>

	<link rel="stylesheet" href="../../public/css/self/setting.css">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/minjs/self/setting.js"> </script>
</body>
</html>