
*
 outline none
 font-family Droid Sans Fallback
body
   	 background #efeff4
  .head
      height 56px
      padding 12px
      display flex
    .head-search
      flex 1
      display block
      height 32px
      border-radius 6px
      color #efeff4
      margin-top 12px
      line-height 90px
      font-size 0.9em
      border 1px #efeff4
      padding-left 36px
      background url("../../APP切图/发布房源/content_search_icon@2x.png") no-repeat left 10px center #fff
      background-size 8%
    .head-add
      line-height 56px
      width 65px
      padding-left 35px
      height 56px
      background url("../../APP切图/发布房源/content_plus_icon@2x.png") no-repeat left 5px center
  .sec
      min-height 200px
      background #fff
      padding 12px
      .sec-title
      	height 15px
      	line-height 15px
      	color #646464
      	font-size 1em
      	padding-left 10px
      	background url("../../APP切图/发布房源/content_press_icon@2x.png") no-repeat left 1px center
      .sec-li
        height 18px
        margin-top 7px
        display flex
        .li-left
        	height 18px
        	width 61px
        	line-height 18px
        	color #727272
        	text-align right
        	padding-right 8px
        .li-right
        	height 18px
        	flex 1
        	color #b4b4b4
        	position relative
        	line-height 18px
        	font-size 0.9em
        	&:after
        		content ""
        		display block
        		width 101%
        		position absolute
        		height 1px
        		background #b4b4b4
        		bottom -2px
        		right 0
  .sec1
      margin-top 30px
      .sec-title1
      		height 30px
      		font-size 1em
      		line-height 30px
      		padding-left 23px
      		color #646464
      .type
      		padding	0px 20px 10px 45px
      		height 48px
      		position relative
      		&:after
		        content ""
		        display block
		        width 105%
		        height 1px
		        background #e1e1e1
		        position absolute
		        bottom 0px
		        right -15px

      		.type-li
      			min-width 2em
      			height 24px
      			float left
      			margin-right 12px
      			line-height 24px
     			.limg
                    display inline-block
                    background url("../../APP切图/发布房源/content_nor_icon@2x.png") no-repeat 1px 15px
                    height 24px
                    background-size 51%
                    width 1em

                .li-txt
                    font-size 0.9em
                    height 24px
                    line-height 24px
                    display inline-block

.sec-log
	min-height 410px
	padding-top 10px
	.log
    	height 30px
    	margin-top 5px
    	display flex
    	line-height 30px
    	color #b4b4b4
    	font-size 0.9em
    	.log-name
    	   width 62px
    	   height 30px
 	   	.log-input
           flex 4.6
           background #efeff4
           height 30px
           border-radius 4px
           border 1px solid #e1e1e1
           text-indent 1em
        .log-more
           flex 5.4
           height 30px
           background url("../../APP切图/发布房源/content_nor_icon@2x.png") no-repeat 16px 11px
           background-size 8px 8px
           text-indent 2.3em
        .log-input1
           height 30px
           flex 0.72
        .log-more1
           flex 5.4
           height 30px
           text-indent 1em
        .log-input1
           height 74px
           flex 1
.s-footer
    	min-height 70px
    	.s-i
    		height 75px
    		width 75px
    		background #d4d4d9
    		margin-left 10px
    		.i-img
            	height 40px
            	background url("../../APP切图/发布房源/content_plus_icon@2x.png") no-repeat 28px 18px
            	background-size 18px 18px
            .i-txt
            	text-align center
            	color #767676
            	font-size 0.9em
.boot
    height 40px
    padding 13px
    background #fff
    margin-top 10px
    .boot-btn
    	height 40px
    	border-radius 4px
    	background #ea5404
    	text-align center
    	font-size 1.2em
    	line-height 40px
    	color #fff













