* {
  outline: none;
}
body {
  background: #fff;
}
.header {
  height: 35px;
  padding: 5px 0 5px 0;
  display: flex;
  border-bottom: 1px solid #d6d7dc;
  position: relative;
}
.header .x {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 79px;
  top: 14px;
  background: url("../../APP切图/首页/nav_icon_delete@2x.png") no-repeat center;
  background-size: 100%;
}
.header .search {
  box-sizing: border-box;
  height: 35px;
  margin: 0 20px 0 10px;
  flex: 1;
  line-height: 35px;
  border: 0;
  padding: 0;
  padding-left: 2.5rem;
  background: url("../../APP切图/首页/nav_icon_search@2x.png") no-repeat left 18px center #f1f1f1;
  background-size: 13px;
  border-radius: 4px;
}
.header .cancel {
  height: 35px;
  width: 40px;
  color: #ea5404;
  line-height: 35px;
}
.history {
  height: 35px;
  background: #efeff4;
  line-height: 35px;
  display: flex;
  color: #646464;
  font-size: 0.9rem;
}
.history .recent {
  flex: 1;
  padding-left: 2em;
}
.history .clear {
  width: 40px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: 0;
}
ul li {
  height: 31px;
  line-height: 31px;
  padding-left: 2em;
  color: #323232;
  position: relative;
  font-size: 0.9rem;
}
ul li:after {
  content: "";
  display: block;
  position: absolute;
  width: 94%;
  height: 1px;
  background: #e1e1e1;
  bottom: 0;
  right: 0;
}
