<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<div class="head">
		<div class="h-left">取消</div>
		<div class="h-mid">发布需求</div>
		<div class="h-right">发布</div>
	</div>
	<div class="box1">
	<input type="text" placeholder="周杰伦"></div>
	<div class="box1">
	<input type="text" placeholder="1895268492"></div>
	<div class="box1">
		<textarea  class="box2" placeholder="描述一下你的需求,比如黄埔100-200m,5-6元/m/天,环境好点,底层,临近地铁"></textarea>
	<!--<input type="text" class="box2" placeholder="描述一下你的需求,比如黄埔100-200m,5-6元/m/天,环境好点,底层,临近地铁">--></div>

	<div class="dem-out">
		<div class="c-t">你确定要退出此次发布吗？</div>
		<div class="c-b">
			<div class="b-l">取消</div>
			<div class="b-r">确定</div>
		</div>
	</div>
	<div class="dem-bg">

	</div>
	<link rel="stylesheet" href="../../public/css/release/dem-relse.css">
	<script src="../../public/minjs/release/release.js"></script>
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/touch.js"></script>
</body>
</html>