<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<div class="nav"><div class="pre-resours"></div>新增楼盘</div>

<div class="sec"><input type="text" class="sec-input" placeholder="输入你想要的楼盘"></div>
	<div class="sec"><input type="text" class="sec-input" placeholder="输入楼盘的地址"></div>

<div class="sec"><div class="sec-submit">确定提交</div></div>

	<link rel="stylesheet" href="../../public/css/release/new-resours.css">
	<script src="../../public/minjs/release/release.js"></script>
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/touch.js"></script>
</body>
</html>