<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Housing</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="head">
	<input type="text" class="head-search" placeholder="搜索我想要发布的大厦">
     <div class="head-add">新增楼盘</div>
</div>
<div class="sec">
	<div class="sec-title">大厦信息</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	<!--	<div class="li-right">浦东-八佰伴</div>-->
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
	<div class="sec-li">
		<div class="li-left">商圈:</div>
		<input type="text" class="li-right" placeholder="浦东-八佰伴">
	</div>
</div>
	<div class="sec sec1">
		<div class="sec-title">房源信息</div>
		<div class="sec-title1">请选择发布房源的属性</div>
		<div class="type">
			<div class="type-li"><span class="limg"><span class="img-p l"></span> </span><span class="li-txt">整层</span></div>
			<div class="type-li"><span class="limg"><span class="l"></span> </span><span class="li-txt">整栋</span></div>
			<div class="type-li"><span class="limg"><span class="l"></span> </span><span class="li-txt">众创空间</span></div>
			<div class="type-li"><span class="limg"><span class="l"></span> </span><span class="li-txt">商务中心</span></div>
			<div class="type-li"><span class="limg"><span class=" l"></span> </span><span class="li-txt">创意产业园</span></div>
			<div class="type-li"><span class="limg"><span class="l"></span> </span><span class="li-txt">写字楼</span></div>
			<div class="type-li"><span class="limg"><span class="l"></span> </span><span class="li-txt">工位</span></div>
		</div>
		<div class="sec-log">
			<div class="log" ><div class="log-name">房源面积</div><input type="text" class="log-input" placeholder="20"><div class="log-more1">平方米</div></div>
			<div class="log" ><div class="log-name">房源单价</div><input type="text" class="log-input" placeholder="6.5"><div class="log-more1">元/m/天</div></div>
			<div class="log" ><div class="log-name">交付状态</div><div class="log-input i-aro"><span class="i-txt1" >标准交付</span>
			<div class="i-list">
				<div class="i-li">毛坯交付</div>
				<div class="i-li">标注交付</div>
				<div class="i-li">简装</div>
				<div class="i-li">精装</div>
				<div class="i-li i-li1">豪装</div>
			</div>
			</div></div>
			<div class="log" ><div class="log-name">交付日期</div><input type="text" class="log-input" placeholder="2015-06-21">
				<div class="log-more"><span class=" jj"></span>是否租房</div></div>
			<div class="log" ><div class="log-name">最短租期</div><input type="text" class="log-input" placeholder="3年"></div>
			<div class="log" ><div class="log-name">付款方式</div><input type="text" class="log-input" placeholder="押一付三">
				<div class="log-more"><span class=" jj"></span><span class="log-txt">是否含发票</span></div></div>
			<div class="log" ><div class="log-name">是否结佣</div><input type="text" class="log-input" placeholder="一个月">
				<div class="log-more"><span class=" jj"></span><span class="log-txt">是</span></div></div>
			<div class="log" ><div class="log-name">装修免租</div><input type="text" class="log-input" placeholder="一个月"></div>
			<div class="log" ><div class="log-name">看房时间</div><input type="text" class="log-input" placeholder="8:00"><div class="log-input1"></div><input type="text" class="log-input" placeholder="20:00"></div>
			<div class="log" ><div class="log-name">房源介绍</div><input type="text" class="log-input log-input1" placeholder="房源介绍"></div>
		</div>
	<div class="s-footer">
			<div class="s-i">
				<div class="i-img"></div>
				<div class="i-txt">添加图片</div>
			</div>

		</div>
	</div>
	<div class="boot">
		<div class="boot-btn">确认发布</div>
	</div>
    <div class="btn-bg">

	</div>
	<div class="btn-art">
		<div class="btn-top">发布成功,请稍后</div>
		<div class="btn-bottom">确认</div>
	</div>

	<link rel="stylesheet" href="../../public/css/release/release.css">
	<script src="../../public/minjs/release/release.js"> </script>
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/touch.js"> </script>
</body>
</html>