<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Housing</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">

	</head>
<body>
<div class="title">
	<div class="t-txt">
	  <div class="t1">上海</div><div class="t2">租房网站</div><div class="t3"></div>
    </div>
	  <div class="t-search">搜好房,上租房网站</div>
</div>
<div class="slider-box">
	<div class="slider">
		<img src="../../public/APP切图/首页/banner_img@2x.png" alt="#" class="slider-img">
		<img src="../../public/APP切图/首页/banner_img@2x.png" alt="#" class="slider-img">
		<img src="../../public/APP切图/首页/banner_img@2x.png" alt="#" class="slider-img">
		<img src="../../public/APP切图/首页/banner_img@2x.png" alt="#" class="slider-img">

	</div>
	<div class="pointer">
		<div class="p-li1"></div><div class="p-li"></div><div class="p-li"></div><div class="p-li"></div>
	</div>
</div>

<ul class="meu">
	<li class="m-li">区域</li>
	<li class="m-li">面积</li>
	<li class="m-li">单价</li>
	<li class="m-li">更多</li>
	<li class="m-li1"></li>
</ul>





	<div class="footer">
		<div class="footer-li"><div class="limg11 limg1 li1 "></div><div class="litxt active">首页</div></div>
		<div class="footer-li"><div class="limg2 li1"></div><div class="litxt">预约</div></div>
		<div class="footer-li"><div class="limid "></div></div>
		<div class="footer-li"><div class="limg3 li1 limg33"></div><div class="litxt">信息</div></div>
		<div class="footer-li"><div class="limg4 li1"></div><div class="litxt">我</div></div>
	</div>
	<link rel="stylesheet" href="../../public/css/home/home.css">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/js/touch.js"> </script>
	<script src="../../public/js/callbacks.js"> </script>
	<script src="../../public/minjs/home/home.js"> </script>
</body>
</html>