body
  background #efeff4
  padding 0
.nav
  height 44px
  text-align center
  line-height 44px
  border-bottom 1px solid #d6d7dc
  font-size 1.2rem
  color #323232
  position relative
  background #fff
  border-bottom 1px solid #d6d7dc