@import "nav.styl"
.nav2
  display flex
  .nav-l
    width 100px
    font-size 0.9rem
  .nav-m
    flex 1
  .nav-r
    width 100px
    font-size 0.9rem
    color #ea5404

.mt
  height 38px
  line-height 38px
  font-size .9rem
  text-align center
  color #b4b4b4
  margin-top 70px
.sendcom
  padding-top 90px
  height 55px
  width 220px
  background #878787 url("../../APP切图/订单详情/content_icon_plus@2x.png") no-repeat center top 38px
  background-size 45px
  border-radius 4px
  position relative
  left 50%
  margin-left -110px
  margin-bottom 22px
  text-align center
  font-size 1.2rem
  color #fff
  .vv
    position absolute
    height 100%
    width 100%
    opacity 0
    left 0
    top 0

.bgcom
  height 100%
  width 100%
  position fixed
  left 0
  top 0
  background rgba(147,147,147,0.6)
  z-index 2
  display none
.send
  position fixed
  width 270px
  height 110px
  background #fff
  left 50%
  top 50%
  transform translate(-50%,-50%)
  z-index 3
  border-radius 10px
  display none
  .c-t
    height 64px
    border-bottom 1px solid #d6d7dc
    text-align center
    line-height 64px
    font-size 1rem
    color #323232
  .c-b
    height 45px
    line-height 45px
    text-align center
    font-size 1.2rem
    display flex
    .b-l
      flex 1
      color #7f7f7f
      border-right 1px solid #d6d7dc
    .b-r
      color #ea5404
      flex 1

.ensurecom
  position fixed
  width 270px
  height 110px
  background #fff
  left 50%
  top 50%
  transform translate(-50%,-50%)
  z-index 3
  border-radius 10px
  display none
  .en-top
    height 64px
    border-bottom 1px solid #d6d7dc
    text-align center
    line-height 64px
    font-size 1rem
    color #323232
  .en-bot
    height 45px
    line-height 45px
    text-align center
    font-size 1.2rem
    color #ea5404