*
 outline none
 font-family Droid Sans Fallback
@import "nav.styl"
  .nav:before
    content ""
    display block
    position absolute
    width 12px
    height 2px
    background #323232
    transform rotate(45deg)
    left 10px
    top 25px
  .nav:after
    content ""
    display block
    position absolute
    width 12px
    height 2px
    background #323232
    transform rotate(-45deg)
    left 10px
    top 17px

  .pre1
    position absolute
    height 45px
    width 80px
    left 0
    top 0

.ban
  background #efeff4
  height 33px
  line-height 33px
  color #b4b4b4
  text-indent .9rem
  font-size .9rem
  width 100%

.bb
  background #fff
  box-sizing border-box
  padding 10px
  border-bottom 1px solid #d6d7dc
.ban-c1
  display flex
  height 65px
  .c-l
    width 50px
    height 100%
    background url('../../APP切图/预约详情/content_img_user@2x.png') no-repeat left 0 center
    background-size  40px
  .c-r
    width 62px
    height 100%
    background url("../../APP切图/预约详情/content_icon_call@2x.png") no-repeat right 18px center
    background-size  18px
  .c-m
    flex 1
    position relative
    &:after
      content ""
      display block
      position absolute
      height 34px
      width 1px
      background #e1e1e1
      right 0
      top 6px
    .p1
      height 26px
      line-height 26px
      font-size 1.2rem
      padding 0
      margin 0
    .p2
      height 20px
      line-height 20px
      font-size .9rem
      color #646464
      padding 0
      margin 0
.ban-c2
  .p21
    height 25px
    line-height 25px
    font-size 1.2rem
    margin 0
    padding 0
  .pcon
    height 17px
    line-height 17px
    font-size .9rem
    display flex
    color #646464
    .pcon-l
      flex 1

.b-box
  height 45px
  line-height 45px
  padding  0 10px 0 10px
  margin-top 10px

  .b
    height 45px
    text-align center
    background #ea5404
    color #fff
    border-radius 4px

.kkk
  padding 0 10px 0 10px

.c-li
  height 45px
  display flex
  line-height 45px
  font-size .9rem
  position relative
  &:after
    content ""
    display block
    position absolute
    width 100%
    height 1px
    background #e1e1e1
    left 0
    bottom -1px
  .l-l
    flex 1
    .t1
      height 18px
      line-height 18px
      font-size 1rem
      margin-top 8px
    .t2
      height 15px
      line-height 15px
      font-size .7rem
      text-indent 0.3rem
      color #323232
  .l-r
    flex 1
    text-align right
    font-size 1rem

.bottom
  position fixed
  width 100%
  bottom 0
  left 0
  height 49px
  background #fff
  border-top 1px solid #d6d7dc
  line-height 49px
  display flex
  .bot-li
    flex 1
    height 49px
    text-align center
    color #ea5404
    font-size 1.2rem
    position relative
    &:after
      content ""
      display block
      position absolute
      height 49px
      width 1px
      background #d6d7dc
      top 0
      right 0

.bg
  height 100%
  width 100%
  position fixed
  left 0
  top 0
  background rgba(147,147,147,0.6)
  z-index 2
  display none
.ban1


.call
  position fixed
  width 270px
  height 110px
  background #fff
  left 50%
  top 50%
  transform translate(-50%,-50%)
  z-index 3
  border-radius 10px
  display none
  .c-t
    height 64px
    border-bottom 1px solid #d6d7dc
    text-align center
    line-height 64px
    font-size 1rem
    color #323232
  .c-b
    height 45px
    line-height 45px
    text-align center
    font-size 1.2rem
    display flex
    .b-l
      flex 1
      color #7f7f7f
      border-right 1px solid #d6d7dc
    .b-r
      color #ea5404
      flex 1


