*
 outline none
 font-family Droid Sans Fallback
 body
   padding 0
   background #efeff4
 *
   list-style none
 ul
   padding 0
   margin 0
  .footer
      background #fff
      height 50px
      position fixed
      z-index 4
      bottom 0
      width 100%
      border-top 1px solid #d6d7dc
      display flex
      .footer-li
         flex 1
         .limg1
           background url("../../APP切图/底部导航栏/bottom_press_icon04@2x.png") no-repeat center
         .limg2
           background url("../../APP切图/底部导航栏/bottom_nor_icon03@2x.png") no-repeat center
         .limg3
           background url("../../APP切图/底部导航栏/bottom_nor_icon02@2x.png") no-repeat center
         .limg4
           background url("../../APP切图/底部导航栏/bottom_nor_icon01@2x.png") no-repeat center
         .limid
           height 74px
           width 44px
           background url('../../APP切图/底部导航栏/bottom_icon05@2x.png') no-repeat center top
           margin 0 auto
           border-radius 4px
           margin-top 6%
           background-size 100%
         .li1
           height 32px
           background-size 37% 80%
         .litxt
           height 18px
           line-height 18px
           text-align center
           font-size 0.9em
           color #b4b4b4
         .active
           color #ea5404
.slider-box
  height 320px
  width 100%
  position relative
  overflow hidden
  .slider
    height 320px
    width 400%
    .slider-img
       display inline-block
       float left
       height 320px
  .pointer
    position absolute
    height 30px
    width 100px
    bottom 10px
    left 50%
    transform translate(-50%,0)
    text-align center
    .p-li
      display inline-block
      height 20px
      width 20px
      background url("../../APP切图/首页/banner_icon_point_nor@2x.png") no-repeat center
      background-size 10px 10px
    .p-li1
      display inline-block
      height 20px
      width 20px
      background url("../../APP切图/首页/banner_icon_point_press@2x.png") no-repeat center
      background-size 10px 10px
.title
   width 100%
   min-height 56px
   position absolute
   z-index 3
   top 25px
   left 0
   .t-txt
     padding 10px
     height 30px
     display flex
     line-height 30px
     color #fff
     font-size 1.2em
     .t1
       flex 2
       background url("../../APP切图/首页/nav_icon_down@2x.png") no-repeat left 46px center
       background-size 10px 5px
     .t2
       flex 3
       text-align center
     .t3
       flex 2

   .t-search
     width 94%
     height 35px
     text-align center
     line-height 35px
     color #b4b4b4
     font-size 0.9em
     border-radius 4px
     background #fff url("../../APP切图/首页/banner_icon_search@2x.png") no-repeat left 22% center
     background-size 15px 15px
     margin 0 10px
.meu
  height 45px
  background #fff
  border-bottom 1px solid #d6d7dc
  display flex
  padding-left 0
  .m-li
    flex 1
    line-height 35px
    color #646464
    font-size 0.9em
    text-align center

    background-size 10px 5px
    position relative
    &:after
      content ""
      display block
      position absolute
      height 18px
      width 1px
      background #d6d7dc
      right 0
      top 10px
  .m-li-bg1
      background url("../../APP切图/首页/content_icon02_nor@2x.png") no-repeat center bottom 10px
      color #646464
  .m-li-bg2
      background url("../../APP切图/首页/content_icon02_press@2x.png") no-repeat center bottom 10px
      color red
  .m-li1
    flex 0.61
    background-size 22px 21px
  .m-li11
    background url("../../APP切图/首页/content_icon01_nor@2x.png") no-repeat center
  .m-li12
    background url("../../APP切图/首页/content_icon01_litre@2x.png") no-repeat left 6px center
  .m-li13
    background url("../../APP切图/首页/content_icon01_down@2x.png") no-repeat center
.title1
  display flex
  background #3c3c3b
  position fixed
  z-index 4
  top 0
  width 100%
  z-index 4
.t11
  width 61px
  padding 0
  padding-left 10px
  background url("../../APP切图/首页/nav_icon_down@2x.png") no-repeat 45px 17px
  line-height 40px
  color #fff
  margin-bottom 0
.ts1
  flex 1
.meu1
  position fixed
  z-index 4
  width 100%
  top 56px
  left 0
.c-i
  position fixed
  width 100%
  min-height 200px
  top 102px
  display none
  z-index 4
.c1,.c4
  background #fff
  text-indent 1em
  line-height 45px
  .c1-left
    width 50%
    background #f0f0f0
    float left
    li
      height 45px
  .c1-right
    width 50%
    background #fff
    float left
    display none
    li
      position relative
    li:after
      content ""
      position absolute
      width 91%
      height 1px
      bottom 0
      right 0
      background #e1e1e1
.r1
  color red
.r-li-bg
  background-color #fff
.c2,.c3
  background #f0f0f0
  .c2-ul
    min-height 230px
    li
      height 30px
      line-height 30px
      text-align center
  .c2-bom
    display flex
    height 30px
    padding 10px 0 10px 0
    line-height 30px
    .bom-left
      flex 4.71
      .l-box
        background #fff
        height 30px
        width 43%
        margin-left 56%
        text-align center
    .bom-mid
      flex 1.28
      height 30px
      position relative
      &:after
        content ""
        display block
        position absolute
        height 1px
        width 20px
        background #b4b4b4
        top 50%
        left 50%
        transform translate(-50%,-50%)
    .bom-right
      flex 4.71
      height 30px
      display flex
      .r-1
        height 30px
        background #fff
        flex 4.3
        text-align center
      .r-2
        height 30px
        background #fff
        flex 3.24
        line-height 30px
        text-align center
        color #494949
        font-size 0.9em
        margin-left 12px
      .r-3
        flex 1.67
        height 30px
.sec
  margin-bottom 4px
  display flex
  height 113px
  border-bottom 1px solid #d6d7dc
  background #fff
  .sec-left
    box-sizing border-box
    padding 10px
    flex 3.56
    height 113px
    .l-img
      width 100%
      height 100%
      background url("../../APP切图/首页/content_img_list@2x.png") no-repeat center
      background-size 100%
  .sec-right
    box-sizing border-box
    flex 6.44
    height 113px
    padding 10px
    font-size 0.9em
    .h1
      height 26px
      line-height 26px
      font-size 1em
      background-size 8%
    .h11
      background url("../../APP切图/首页/collect_icon_press@2x.png") no-repeat right 20px center
    .h12
      background url("../../APP切图/首页/collect_icon_nor@2x.png") no-repeat right 20px center
    .h2
      height 14px
      line-height 14px
      font-size .9rem
    .h3
      height 16px
      padding 5px 0 5px 0
      .h3-box
        height 16px
        border 1px solid red
        border-radius 4px
        text-align center
        width 60px
        line-height 16px
        font-size .9em
        color #ea5404
    .h4
      height 15px
      line-height 15px
      display flex
      font-size .9em
      .h4-1
        flex 6.6
        em
          font-style normal
          color red
      .h4-2
        flex 4.4

.bg
  height 100%
  width 100%
  background rgba(147,147,147,0.6)
  position fixed
  top 0
  left 0
  display none
  z-index 2

.up
  position fixed
  height 47px
  width 47px
  bottom 86px
  right 20px
  background url("../../APP切图/首页/content_btn_back@2x.png") no-repeat  0 0
  background-size 47px
  display none
  z-index 4

























