<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>

	<div class="header">

		<div class="close">关闭</div>
		<div class="city">选择城市</div>
		<div class="close"></div>
	</div>


	<ul>
		<li class="result">北京</li>
		<li class="result">上海</li>
	</ul>








	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../../public/css/home/home-city.css">
	<script src="../../public/minjs/home/home.js"> </script>
</body>
</html>