<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/home/home.css">


	</head>
<body>
<div class="title">
	<div class="t-txt">
	  <div class="t1">上海</div><div class="t2">点点租</div><div class="t3"></div>
    </div>
	  <div class="t-search">搜好房,上点点租</div>
</div>
<div class="slider-box">
	<div class="slider">
		<img src="../../public/APP切图/首页/banner_img@2x.png" alt="#" class="slider-img">
		<img src="../../public/APP切图/首页/banner_img1@2x.jpg" alt="#" class="slider-img">
		<img src="../../public/APP切图/首页/banner_img2@2x.jpg" alt="#" class="slider-img">
		<img src="../../public/APP切图/首页/banner_img3@2x.jpg" alt="#" class="slider-img">
		<!--<img src="../../public/APP切图/首页/banner_img4@2x.jpg" alt="#" class="slider-img">-->
	</div>
	<div class="pointer">
		<div class="p-li1"></div><div class="p-li"></div><div class="p-li"></div><div class="p-li"></div>
	</div>
</div>

<ul class="meu">
	<li class="m-li  m-li-bg1">区域</li>
	<li class="m-li  m-li-bg1">面积</li>
	<li class="m-li  m-li-bg1">单价</li>
	<li class="m-li  m-li-bg1">更多</li>
	<li class="m-li1 m-li11"></li>
</ul>
	<div>
		<div class="c-i c1">
			<ul class="c1-left">
				<li>全部</li>
				<li>闵行</li>
				<li>浦东</li>
				<li>嘉定</li>
				<li>宝山</li>
				<li>陕北</li>
				<li>松江</li>
				<li>青浦</li>
				<li>徐慧</li>
				<li>普陀</li>
			</ul>
			<ul class="c1-right">
				<li class="r1">全部</li>
				<li>八佰伴</li>
				<li>川沙</li>
				<li>花木</li>
				<li>清桥</li>
			</ul>
		</div>
		<div class="c-i c2">
			<ul class="c2-ul">
				<li>全部</li>
				<li>100㎡以下</li>
				<li>100-200㎡</li>
				<li>200-300㎡</li>
				<li>300-500㎡</li>
				<li>500-1000㎡</li>
				<li>1000㎡以上</li>
			</ul>
			<div class="c2-bom">
				<div class="bom-left"><div class="l-box"></div></div>
				<div class="bom-mid"></div>
				<div class="bom-right">
					<div class="r-1"></div>
					<div class="r-2">确定</div>
					<div class="r-3"></div>
				</div>
			</div>
		</div>
		<div class="c-i c3">
			<ul class="c2-ul">
				<li>全部</li>
				<li>3元/㎡/天以下</li>
				<li>3-4元/㎡/天</li>
				<li>4-5元/㎡/天</li>
				<li>5-7元/㎡/天</li>
				<li>7-12元/㎡/天</li>
				<li>12元/㎡/天以上</li>
			</ul>
			<div class="c2-bom">
				<div class="bom-left"><div class="l-box"></div></div>
				<div class="bom-mid"></div>
				<div class="bom-right">
					<div class="r-1"></div>
					<div class="r-2">确定</div>
					<div class="r-3"></div>
				</div>
			</div>
		</div>
		<div class="c-i c4">
			<ul class="c1-left">
				<li>地铁</li>
				<li>房型</li>
				<li>装修</li>


			</ul>
			<ul class="c1-right">
				<li class="r1">全部</li>
				<li>1号线</li>
				<li>2号线</li>
				<li>3号线</li>
				<li>4号线</li>
				<li>5号线</li>
				<li>6号线</li>
				<li>7号线</li>
				<li>8号线</li>
				<li>9号线</li>
			</ul>

		</div>
	</div>

	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1 h12">东方金融中心</div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>

	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1 h12">东方金融中心</div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>

	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1  h12">东方金融中心</div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>

	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1  h12">东方金融中心</div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>

	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1  h12">东方金融中心</div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>

	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1  h12">东方金融中心</div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>

	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1  h12">东方金融中心</div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>

	<div class="bg"></div>
	<div class="footer">
		<div class="footer-li"><div class="limg11 limg1 li1 "></div><div class="litxt active">首页</div></div>
		<div class="footer-li"><div class="limg2 li1"></div><div class="litxt">预约</div></div>
		<div class="footer-li"><div class="limid "></div></div>
		<div class="footer-li"><div class="limg3 li1 limg33"></div><div class="litxt">信息</div></div>
		<div class="footer-li"><div class="limg4 li1"></div><div class="litxt">我</div></div>
	</div>
	<div class="up"></div>


	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/js/touch.js"> </script>
	<script src="../../public/js/callbacks.js"> </script>
	<!--<script src="../../public/minjs/home/home.js"></script>-->
	<script src="../../public/minjs/home/home.js"></script>
	<script src="../../public/minjs/footer.js"></script>

</body>

</html>

