<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>

<div class="header-search">
	<div class="sessionlog"></div>
	<div class="x"></div>
	<input type="text" class="search-history" placeholder="挑好房，上房源出租">
	<div class="cancel">取消</div>
</div>

<div class="history">
	<span class="recent">最近搜索</span>
	<span class="clear">清除</span>
</div>

	<ul class="history-box">
		<li class="result-search" >创意产业园</li>

	</ul>



	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../../public/css/home/home-search.css">
	<script src="../../public/minjs/home/home.js"> </script>
</body>
</html>