<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>

	<div class="header-city">

		<div class="close">关闭</div>
		<div class="city">选择城市</div>
		<div class="close"></div>
	</div>


	<ul>
		<li class="result">北京</li>
		<li class="result">上海</li>
		<li class="result">南京</li>
		<li class="result">成都</li>
		<li class="result">深圳</li>
		<li class="result">武汉</li>
	</ul>








	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../../public/css/home/home-city.css">
	<script src="../../public/minjs/home/home.js"> </script>
</body>
</html>