*
 outline none
 font-family Droid Sans Fallback

@import("./msghead.styl")
.sec
  margin 12px 12px 0 12px
  padding 0px 12px 12px 12px

  border-radius 5px
  box-shadow 0 0 5px 1px #e0e0ea
  min-height 110px
  background url("../../APP切图/我发布的需求/content_list_border.9@2x.png") no-repeat center top 30px #fff
  background-size 100% 4px
  .secheader
    height 36px

    line-height 36px
    font-size 1em
  .secmid
    line-height 20px
    font-size 0.9rem
    text-indent 2em
    color #646464
  .secfooter
    display flex
    .time
        flex 1
        text-align right
        font-style normal
        padding 10px 12px 0 12px
        line-height 25px
        color #7c7c7d




@import('./msgfooter.styl')