<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1,minimum-sacle=1,user-scable=no">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
	<div class="nav">预约</div>

    <div class="sec-box">
	<div class="sec sec-click">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1"><div class="h1-l">先生/女士您好:</div><div class="h1-r">06/07/13:30</div></div>
			<div class="h2">
				我想看 <strong>中惠大厦</strong> 的房源，请帮忙安排我的请帮忙安排我的地址是帮忙安排银龙花园3期24栋602号。
			</div>
			<div class="h3">	看房时间:08/07</div>
			<div class="h4">
				<div class="l-box"></div>
				<div class="h3-box">接单</div>
			</div>
		</div>
	</div>
		<div class="delete">删除</div>
	</div>
	<div class="sec-box">
		<div class="sec sec-click">
			<div class="sec-left"><div class="l-img"></div></div>
			<div class="sec-right">
				<div class="h1"><div class="h1-l">先生/女士您好:</div><div class="h1-r">06/07/13:30</div></div>
				<div class="h2">
					我想看 <strong>中惠大厦</strong> 的房源，请帮忙安排我的请帮忙安排我的地址是帮忙安排银龙花园3期24栋602号。
				</div>
				<div class="h3">	看房时间:08/07</div>
				<div class="h4">
					<div class="l-box"></div>
					<div class="h3-box">接单</div>
				</div>
			</div>
		</div>
		<div class="delete">删除</div>
	</div>

	<div class="sec-box">
		<div class="sec sec-click">
			<div class="sec-left"><div class="l-img"></div></div>
			<div class="sec-right">
				<div class="h1"><div class="h1-l">先生/女士您好:</div><div class="h1-r">06/07/13:30</div></div>
				<div class="h2">
					我想看 <strong>中惠大厦</strong> 的房源，请帮忙安排我的请帮忙安排我的地址是帮忙安排银龙花园3期24栋602号。
				</div>
				<div class="h3">	看房时间:08/07</div>
				<div class="h4">
					<div class="l-box"></div>
					<div class="h3-box-click">已接单,待反馈</div>
				</div>
			</div>
		</div>
		<div class="delete">删除</div>
	</div>
	<div class="sec-box">
		<div class="sec sec-click">
			<div class="sec-left"><div class="l-img"></div></div>
			<div class="sec-right">
				<div class="h1"><div class="h1-l">先生/女士您好:</div><div class="h1-r">06/07/13:30</div></div>
				<div class="h2">
					我想看 <strong>中惠大厦</strong> 的房源，请帮忙安排我的请帮忙安排我的地址是帮忙安排银龙花园3期24栋602号。
				</div>
				<div class="h3">	看房时间:08/07</div>
				<div class="h4">
					<div class="l-box"></div>
					<div class="h3-box-click">已接单,待反馈</div>
				</div>
			</div>
		</div>
		<div class="delete">删除</div>
	</div>
	<div class="sec-box">
		<div class="sec sec-click">
			<div class="sec-left"><div class="l-img"></div></div>
			<div class="sec-right">
				<div class="h1"><div class="h1-l">先生/女士您好:</div><div class="h1-r">06/07/13:30</div></div>
				<div class="h2">
					我想看 <strong>中惠大厦</strong> 的房源，请帮忙安排我的请帮忙安排我的地址是帮忙安排银龙花园3期24栋602号。
				</div>
				<div class="h3">	看房时间:08/07</div>
				<div class="h4">
					<div class="l-box"></div>
					<div class="h3-box-click">已接单,待反馈</div>
				</div>
			</div>
		</div>
		<div class="delete">删除</div>
	</div>
	<div class="sec-box">
		<div class="sec">
			<div class="sec-left"><div class="l-img"></div></div>
			<div class="sec-right">
				<div class="h1"><div class="h1-l">先生/女士您好:</div><div class="h1-r">06/07/13:30</div></div>
				<div class="h2">
					我想看 <strong>中惠大厦</strong> 的房源，请帮忙安排我的请帮忙安排我的地址是帮忙安排银龙花园3期24栋602号。
				</div>
				<div class="h3">	看房时间:08/07</div>
				<div class="h4">
					<div class="l-box"></div>
					<div class="h3-box-click">已接单,待反馈</div>
				</div>
			</div>
		</div>
		<div class="delete">删除</div>
	</div>


	<div class="footer">
		<div class="footer-li"><div class="limg11 limg1 li1 "></div><div class="litxt ">首页</div></div>
		<div class="footer-li"><div class="limg2 li1"></div><div class="litxt active">预约</div></div>
		<div class="footer-li"><div class="limid "></div></div>
		<div class="footer-li"><div class="limg3 li1 limg33"></div><div class="litxt">信息</div></div>
		<div class="footer-li"><div class="limg4 li1"></div><div class="litxt">我</div></div>
	</div>

	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>

	<link rel="stylesheet" href="../../public/css/order/order.css">
	<script src="../../public/minjs/order/order.js"> </script>
	<script src="../../public/minjs/footer.js"></script>
</body>
</html>