<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1,minimum-sacle=1,user-scable=no">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
<div class="bgtemp"></div>


	<div class="temp">
		<div class="c-t">预约看房成功</div>
		<div class="c-b">
			<div class="b-l">返回</div>
			<div class="b-r">查看预约详情</div>
		</div>
	</div>

	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<link rel="stylesheet" href="../../public/css/order/order-temp.css">
	<script src="../../public/minjs/order/order.js"> </script>
</body>
</html>