<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司">
	<meta name="description" content="南京锋耀达网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1,minimum-sacle=1,user-scable=no">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
	<div class="nav"><div class="pre"></div>预约详情</div>

	<div class="ban bbq">张三</div>

	<div class="ban-c1 bb">
		<div class="c-l"></div>
		<div class="c-m">
			<p class="p1">张三啊</p>
			<p class="p2">经纪人</p>
		</div>
		<div class="c-r"></div>
	</div>

	<div class="ban">预约信息</div>

	<div class="ban-c2 bb">
		<p class="p21">中撒国际大厦</p>
		<div class="pcon"><div class="pcon-l">区域：黄浦人民广场</div><div class="pcon-l">房型：商务中心</div></div>
		<div class="pcon"><div class="pcon-l">面积：766㎡</div><div class="pcon-l">单价：&yen;5.5元/㎡/天起</div></div>
	</div>

	<div class="ban">预约时间</div>

	<div class="ban-c3 bb">2016-08-08</div>

	<div class="ban ban1">预约状态</div>
	<div class="ban-c4 bb kkk">
		<div class="c-li"><div class="l-l"><div class="t1">08/10</div><div class="t2">周三</div></div><div class="l-r r1">订单成功</div></div>
		<div class="c-li"><div class="l-l"><div class="t1">08/08</div><div class="t2">周一</div></div><div class="l-r r2">已修改</div></div>
		<div class="c-li"><div class="l-l"><div class="t1">08/08</div><div class="t2">周六</div></div><div class="l-r r3">已接单,待反馈</div></div>
	</div>




	<div class="bg"></div>
	<div class="call">
		<div class="c-t">你确定要拨打电话么？</div>
		<div class="c-b">
			<div class="b-l">取消</div>
			<div class="b-r">确定</div>
		</div>
	</div>


	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<link rel="stylesheet" href="../../public/css/order/order-moredone.css">
	<script src="../../public/minjs/order/order.js"> </script>
</body>
</html>