@import("./msghead.styl")
.sec
   margin 12px 12px 0 12px
   padding 0px 12px 12px 12px
   background #fff
   border-radius 5px
   box-shadow 0 0 5px 1px #e0e0ea
   min-height 110px
  .secheader
      height 43px
      line-height 43px
      font-size 1em
      border-bottom 1px solid #d6d7dc
      display flex
     .head-txt
        flex 1
     .time
  		text-align right
  		font-style normal
  		padding 10px 12px 0 12px
  		line-height 25px
  		color #7c7c7d
  		font-size 0.9em
   .secmid
       text-indent 0.7em
       color #646464
       font-size 0.9em
       line-height 20px
   .secfooter

       color #646464
       line-height 20px
@import('./msgfooter.styl')