<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
	<div class="header ">我</div>
	<div class="self-head"></div>
	<div class="sec">
		<div class="sec-top self-log">
			点击登录/注册
			<div class="t1"></div>
		</div>
		<div class="sec-bottom">
			<div class="b-l"><span class="l1">0</span><span class="l2">收藏</span></div>
			<div class="b-r"><span class="r1">0</span><span class="r2">积分</span></div>
		</div>
	</div>
    <div class="li li11">我发布的需求</div>
	<div class="li li22">我发布的房源</div>
	<div class="li li33">我预约的房源</div>
	<div class="li li44">历史交易</div>
	<div class="li li55">过期房源</div>


	<div class="footer">
		<div class="footer-li"><div class="limg11 limg1 li1 "></div><div class="litxt ">首页</div></div>
		<div class="footer-li"><div class="limg2 li1"></div><div class="litxt">预约</div></div>
		<div class="footer-li"><div class="limid "></div></div>
		<div class="footer-li"><div class="limg3 li1 limg33"></div><div class="litxt">信息</div></div>
		<div class="footer-li"><div class="limg4 li1"></div><div class="litxt active">我</div></div>
	</div>

<div style="height:200px">	</div>


	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../../public/css/self/a-self.css">
	<script src="../../public/minjs/self/self.js"> </script>
	<script src="../../public/minjs/footer.js"></script>
</body>
</html>