<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点点租 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司">
	<meta name="description" content="南京峰耀网络科技有限公司成立于2015年，公司主要经营教育软件、多媒体技术、游戏开发等。">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link href="//cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
</head>
<body>
	<div class="header"><span class="himg"></span><span class="htxt cor">我预约的房源</span></div>




	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1 h12">东方金融中心 <span class="ep">待接单</span></div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2">佣金：1个月</div>
			</div>
		</div>
	</div>
	<div class="sec">
		<div class="sec-left"><div class="l-img"></div></div>
		<div class="sec-right">
			<div class="h1 h12">东方金融中心<span class="ep">完成</span></div>
			<div class="h2">浦东-八佰伴</div>
			<div class="h3"><div class="h3-box">商务中心</div></div>
			<div class="h4">

				<div class="h4-1"><em>&yen7</em>元/平米/天起</div>
				<div class="h4-2"></div>
			</div>
		</div>
	</div>



	<link rel="stylesheet" href="../../public/css/self/expired housing.css">
	<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="../../public/js/touch.js"> </script>
	<script src="../../public/minjs/self/collect.js"></script>
</body>
</html>