.footer
    background #fff
    height 50px
    position fixed
    bottom 0
    width 100%
    border-top 1px solid #d6d7dc
    display flex
    .footer-li
       flex 1
       .limg1
         background url("../../APP切图/底部导航栏/bottom_nor_icon04@2x.png") no-repeat center
       .limg2
         background url("../../APP切图/底部导航栏/bottom_nor_icon03@2x.png") no-repeat center
       .limg3
         background url("../../APP切图/底部导航栏/bottom_press_icon02@2x.png") no-repeat center
       .limg4
         background url("../../APP切图/底部导航栏/bottom_nor_icon01@2x.png") no-repeat center
       .limid
         height 80%
         width 72%
         background url('../../APP切图/底部导航栏/bottom_icon05@2x.png') no-repeat center
         margin 0 auto
         border-radius 4px
         margin-top 6%
         background-size 100%
       .li1
         height 32px
         background-size 37% 80%
       .litxt
         height 18px
         line-height 18px
         text-align center
         font-size 0.9em
         color #b4b4b4
       .active
         color #ea5404
