@import("./msghead.styl")
.sec
  margin 12px 12px 0 12px
  padding 0px 12px 12px 12px
  background #fff
  border-radius 5px
  box-shadow 0 0 5px 1px #e0e0ea
  min-height 110px
  .secheader
    height 36px
    border-bottom 1px solid #d6d7dc
    line-height 36px
    font-size 1em
  .secmid
    line-height 20px
    font-size 0.8em
    text-indent 2em
  .secfooter
    display flex
    .time
        flex 1
        text-align right
        font-style normal
        padding 10px 12px 0 12px
        line-height 25px
        color #7c7c7d




@import('./msgfooter.styl')