*
 outline none
 font-family Droid Sans Fallback
.nav
  height 45px
  line-height 45px
  text-align center
  display flex
  background #fff
  border-bottom #d6d7dc
  .nav-l
    width 40px
    padding 0 8px 0 8px
    font-size .9rem
    text-align right
  .nav-m
    flex 1
    font-size 1.2rem

*
 outline none
 font-family Droid Sans Fallback
body
   	 background #efeff4
  .head
      height 56px
      padding 0 12px 0 12px
      display flex
    .head-search
      flex 1
      display block
      height 32px
      border-radius 6px
      color #efeff4
      margin-top 12px
      line-height 90px
      font-size 0.9em
      border 1px #efeff4
      padding-left 36px
      background url("../../APP切图/发布房源/content_search_icon@2x.png") no-repeat left 10px center #fff
      background-size 14px
    .head-add
      line-height 56px
      width 65px
      padding-left 35px
      height 56px
      background url("../../APP切图/发布房源/content_plus_icon@2x.png") no-repeat left 10px center
      background-size 20px
  .sec
      min-height 200px
      background #fff
      padding 12px
      .sec-title
      	height 15px
      	line-height 15px
      	color #646464
      	font-size 1em
      	padding-left 10px
      	background url("../../APP切图/发布房源/content_press_icon@2x.png") no-repeat left 1px center
      .sec-li
        height 18px
        margin-top 7px
        display flex
        .li-left
        	height 18px
        	width 66px
        	line-height 18px
        	color #727272
        	text-align right
        	padding-right 8px
        	font-size .9rem
        .li-right
        	height 18px
        	flex 1
        	color #b4b4b4
        	position relative
        	line-height 18px
        	font-size 0.8rem
        	border 0
        	border-bottom 1px solid #b4b4b4

  .sec1
      margin-top 15px
      .sec-title1
      		height 30px
      		font-size 1em
      		line-height 30px
      		padding-left 23px
      		color #646464
      .type
      		padding	0px 10px 10px 45px
      		height 48px
      		position relative

      		&:after
		        content ""
		        display block
		        width 105%
		        height 1px
		        background #e1e1e1
		        position absolute
		        bottom 0px
		        right -15px

      		.type-li
      			min-width 2em
      			height 24px
      			float left
      			margin-right 12px
      			line-height 24px
     			.limg
                    display inline-block
                    background url("../../APP切图/发布房源/content_nor_icon@2x.png") no-repeat 3px 9px
                    height 24px
                    background-size 51%
                    width 1em
                    position relative
                    .img-p
                      position absolute
                      height 4px
                      width 4px
                      border-radius 50%
                      background red
                      top 11px
                      left 5px
                .li-txt
                    font-size 0.9em
                    height 24px
                    line-height 24px
                    display inline-block
                    vertical-align super
.sec-log
	min-height 410px
	padding-top 10px
	.log
    	height 30px
    	margin-top 5px
    	display flex
    	line-height 30px
    	color #b4b4b4
    	font-size 0.9em
    	.log-name
    	   width 62px
    	   height 30px
 	   	.log-input
           flex 4.6
           background #efeff4
           height 28px
           border-radius 4px
           border 1px solid #e1e1e1
           text-indent 1em
           padding 0
           display block
           min-width 100px
        .i-aro
           position relative
           &:after
             content ""
             display block
             position absolute
             width 8px
             height 2px
             background #b4b4b4
             top 14px
             right 22px
             transform rotate(45deg)
           &:before
             content ""
             display block
             position absolute
             width 8px
             height 2px
             background #b4b4b4
             top 14px
             right 17px
             transform rotate(-45deg)
           .i-list
             position absolute
             z-index 3
             width 100%
             top 29px
             border 1px solid #e1e1e1
             border-radius 0px 0px 4px 4px
             height 160px
             background #efeff4
             left -1px
             display none
             .i-li
               height 32px
               line-height 32px
               font-size 0.9em
               text-indent 1em
               color #323232
               position relative
               &:after
                 position absolute
                 content ""
                 display block
                 width 96%
                 height 1px
                 background #e1e1e1
                 bottom 0
                 right 0
             .i-li1
               &:after
                display none
        .log-more
           flex 5.4
           height 30px
           background url("../../APP切图/发布房源/content_nor_icon@2x.png") no-repeat 16px 11px
           background-size 8px 8px
           text-indent 2.3em
           position relative
           .log-img
             position absolute
             top 13px
             left 18px
             border-radius 50%
             height 4px
             width 4px
             background red
        .log-input1
           height 30px
           flex 0.72
        .log-more1
           flex 5.4
           height 30px
           text-indent 1em

.s-footer
    	min-height 70px
    	.s-i
    		height 75px
    		width 75px
    		background #d4d4d9
    		margin-left 10px
    		position relative
    		.i-load
    		    position absolute
    		    width 100%
    		    height 100%
    		    left 0
    		    top 0
    		    display block
    		    opacity 0
    		.i-img
            	height 40px
            	background url("../../APP切图/发布房源/content_plus_icon@2x.png") no-repeat 28px 18px
            	background-size 18px 18px
            .i-txt
            	text-align center
            	color #767676
            	font-size 0.9em
.boot
    height 40px
    padding 13px
    background #fff
    margin-top 10px
    .boot-btn
    	height 40px
    	border-radius 4px
    	background #ea5404
    	text-align center
    	font-size 1.2em
    	line-height 40px
    	color #fff

.btn-bg
  background rgba(147,147,147,0.7)
  height 100%
  width 100%
  position fixed
  z-index 2
  top 0
  left 0
  display none
.btn-art
  text-align center
  height 110px
  width 271px
  position fixed
  z-index 3
  background #fff
  top  50%
  left 50%
  transform translate(-50%,-50%)
  border-radius 6px
  display none
  .btn-top
    height 64px
    line-height 64px
    font-size 1em
    position relative
    &:after
      content ""
      display block
      height 1px
      width 100%
      background #d6d7dc
      bottom 0
      left 0
  .btn-bottom
    height 45px
    line-height 45px
    color red
    font-size 1.1em

.rele-out
  position fixed
  width 270px
  height 110px
  background #fff
  left 50%
  top 50%
  transform translate(-50%,-50%)
  z-index 3
  border-radius 10px
  display none
  .c-t
    height 64px
    border-bottom 1px solid #d6d7dc
    text-align center
    line-height 64px
    font-size 1rem
    color #323232
  .c-b
    height 45px
    line-height 45px
    text-align center
    font-size 1.2rem
    display flex
    .b-l
      flex 1
      color #7f7f7f
      border-right 1px solid #d6d7dc
    .b-r
      color #ea5404
      flex 1










