*
 outline none
 font-family Droid Sans Fallback
 body
    background #efeff4

.re-bg
  height 100%
  width 100%
  position fixed
  left 0
  top 0
  background rgba(27,28,29,0.8) url("../../APP切图/发布/publish_close_icon@2x.png") no-repeat center bottom 20px
  background-size 14px
  z-index 2
  .can
    width 30px
    height 20px
    position fixed
    z-index 3
    left 50%
    transform translate(-50%,0)
    bottom 18px
.re-box
  position fixed
  height 125px
  width 100%
  display flex
  z-index 4
  color #fff
  top 60%
  .re-box-l
    height 31px
    padding-top 94px
    line-height 31px
    background url("../../APP切图/发布/publish_btn01@2x.png") no-repeat left 62px top 0px
    background-size 94px
    flex 1
    text-indent 5rem
  .re-box-r
    height 31px
    padding-top 94px
    line-height 31px
    background url("../../APP切图/发布/publish_btn02@2x.png") no-repeat left 30px top 0px
    background-size 94px
    flex 1
    text-indent 3rem
