*
 outline none
 font-family Droid Sans Fallback

body
  background #efeff4
  padding 0

.nav
  height 44px
  text-align center
  line-height 44px
  border-bottom 1px solid #d6d7dc
  font-size 1.2rem
  color #323232
  position relative
  background #fff

  border-bottom 1px solid #d6d7dc
  display flex
  .nav-input
    height 30px
    line-height 30px
    padding-left 30px
    background #f1f1f1 url("../../APP切图/发布房源-搜索房源/nav_search_icon@2x.png") no-repeat left 10px center
    background-size 13px
    color #b4b4b4
    font-size .9rem
    border 0
    margin 6px 0 3px 10px
    border-radius 4px
    flex 1
  .nav-text
    width 50px
    padding-right 10px
    text-align right
    line-height 44px
    height 44px
    font-size .9rem
    color #ea5404
.msg
  display flex
  color #646464
  .msg-l
    flex 1
    font-size .9rem
    line-height 35px
    height 35px
    margin-left 24px
  .msg-r
    width 60px
    height 35px
    line-height 35px
    font-size .8rem

.sec-se
  height 33px
  background #fff
  line-height 33px
  padding-left 25px
  box-sizing border-box
  .se-li
    position relative
    height 33px
    font-size .9rem
    &:after
      content ""
      display block
      width 100%
      position absolute
      height 1px
      background #e1e1e1
      bottom -1px
      left 0

