<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

	user<input type="text"><br>
	passward<input type="text"><br>
	<input type="button" value="login">
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script>
	/*$("input" ).eq(2 ).on("click",function(){
		console.log(88)
		x=$("input" ).eq(0 ).val();
		y=$("input" ).eq(1).val();
		$.ajax({
			url:'/api/user/login',
			type:"POST",
			dataType:"json",
			data:{username:"admin",passwd:"123456"},
			success:function(res){
				console.log(555555)
			},
			failure:function(re){
				console.log(6666)
			}
		})
	})*/
	$("input" ).eq(2 ).on("click",function(){
		console.log(6)
	})
	$("input" ).eq(2 ).on("click",function(){
		console.log(7)
	})
	</script>
</body>
</html>